{% extends './base/base.html' %}

{% block content %}

<h2 class="text-center">Forget Password</h2>
<form method="post" action="{% url 'forgetpassword' %}" style="width: 500px; margin: auto;">
    {% csrf_token %}
    <!-- New Password field with eye button -->
    <div class="form-group" style="position: relative;">
        <label for="new_password">New Password:</label>
        <input type="password" name="new_password" class="form-control" id="new_password" required>
        <button type="button" class="toggle-password" onclick="togglePassword('new_password')" style="position: absolute; right: 10px; top: 68%; transform: translateY(-50%); background: none; border: none; cursor: pointer;">
            <i class="fa fa-eye" id="eye-new_password"></i>
        </button>
    </div>

    <!-- Confirm Password field with eye button -->
    <div class="form-group" style="position: relative;">
        <label for="confirm_password">Confirm New Password:</label>
        <input type="password" name="confirm_password" class="form-control" id="confirm_password" required>
        <button type="button" class="toggle-password" onclick="togglePassword('confirm_password')" style="position: absolute; right: 10px; top: 70%; transform: translateY(-50%); background: none; border: none; cursor: pointer;">
            <i class="fa fa-eye" id="eye-confirm_password"></i>
        </button>
    </div>

    <input type="submit" value="Confirm" class="btn btn-warning">
</form>

{% for message in messages %}
<br><br>
<div class="text-center">
    <p class="alert alert-info">{{ message }}</p>
</div>
{% endfor %}

<script>
    // JavaScript function to toggle password visibility
    function togglePassword(fieldId) {
        const passwordField = document.getElementById(fieldId);
        const eyeIcon = document.getElementById('eye-' + fieldId);

        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        } else {
            passwordField.type = "password";
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        }
    }
</script>

{% endblock %}
