{% extends './base/base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<h3 class="text-center">Login</h3>
<form action="{% url 'login' %}" method="POST" style="width: 500px; margin: auto;">
    {% csrf_token %}

    <!-- Username or Email field -->
    <div class="form-group">
        {{ form.username|as_crispy_field }}
    </div>

    <!-- Password field with eye button inside -->
    <div class="password-wrapper" style="position: relative;">
        {{ form.password|as_crispy_field }}
        <button type="button" class="toggle-password" onclick="togglePassword('id_password')"
            style="position: absolute; right: 10px; top: 73%; transform: translateY(-50%); background: none; border: none; padding: 0; cursor: pointer;">
            <i class="fa fa-eye" id="eye-id_password" style="font-size: 17px;"></i>
        </button>
    </div>
    <a href="{% url 'verify_otp' %}" style="float: right; margin-top: 5px;">Forget Password?</a><br>
    <input type="submit" value="Login" class="btn btn-warning">
</form>

<script>
    // JavaScript function to toggle password visibility
    function togglePassword(fieldId) {
        const passwordField = document.getElementById(fieldId);
        const eyeIcon = document.getElementById('eye-' + fieldId);

        if (passwordField.type === "password") {
            passwordField.type = "text";
            eyeIcon.classList.remove("fa-eye");
            eyeIcon.classList.add("fa-eye-slash");
        } else {
            passwordField.type = "password";
            eyeIcon.classList.remove("fa-eye-slash");
            eyeIcon.classList.add("fa-eye");
        }
    }
</script>
<!-- Display any messages -->

{% for message in messages %}
<br><br>
<div class="text-center">
    <p class="alert {% if message.tags == 'error' %}alert-danger{% else %}alert-info{% endif %}">{{ message }}</p>
</div>
{% endfor %}


{% endblock %}